# -----------------------
# Python cache
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# Virtual environments
# -----------------------
venv/
.env/
.venv/

# -----------------------
# Distribution / build
# -----------------------
build/
dist/
*.egg-info/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Editor / IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Temporary files
# -----------------------
*.tmp
*.swp
